<div class="well">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{#link-to 'edit' model.id}}{{model.content}}{{/link-to}}</h3>
    </div>
    <div class="panel-body">
      <h5>{{model.author}}</h5>
      <p><strong>Notes:</strong> {{model.note}}</p>
      {{new-response saveResponse="saveResponse" question=model}}
      <ul>
        {{#each model.responses as |response|}}
          {{response-tile response=response}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
